<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EPS.MerchantHelper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <EPS.MerchantHelper.Properties.Settings>
            <setting name="EPS_MerchantHelper_MerchantUtilityWebRef_MerchantUtility"
                serializeAs="String">
                <value>https://localhost:7002/MerchantUtility.asmx</value>
            </setting>
        </EPS.MerchantHelper.Properties.Settings>
    </applicationSettings>
</configuration>