<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="microsoft.web.services3" type="Microsoft.Web.Services3.Configuration.WebServicesConfiguration, Microsoft.Web.Services3, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="BMISSOClientHelper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="BMIMembershipClientEngine.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <BMISSOClientHelper.Properties.Settings>
      <setting name="BMISSOClientHelper_BMISSOService_BMISSOService"
        serializeAs="String">
        <value>http://localhost/BMISSOService/BMISSOService.asmx</value>
      </setting>
    </BMISSOClientHelper.Properties.Settings>
    <BMIMembershipClientEngine.Properties.Settings>
      <setting name="BMIMembershipClientEngine_BMISSOService_BMISSOService"
        serializeAs="String">
        <value>http://localhost/BMImembershipWebService/BMISSOService.asmx</value>
      </setting>
    </BMIMembershipClientEngine.Properties.Settings>
  </applicationSettings>
</configuration>