<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="UnitsHandlerSRVSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="UnitsHandlerSRVSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://units.bmi.ir/services/UnitsHandlerSRV.asmx"
                binding="basicHttpBinding" bindingConfiguration="UnitsHandlerSRVSoap"
                contract="BMIBranchServiceRef.UnitsHandlerSRVSoap" name="UnitsHandlerSRVSoap" />
        </client>
    </system.serviceModel>
</configuration>