<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="microsoft.web.services3" type="Microsoft.Web.Services3.Configuration.WebServicesConfiguration, Microsoft.Web.Services3, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
  </configSections>
  
  
  <connectionStrings>
    <!--<add name="BmiMembershipConnection" connectionString="xaCoZXhyO2WlPq0LsJVq4kQn/ZfdevsbILHL8HveQY6cxZh5PsZd/32DavOvw/cEbDlBobYJoDvDTJUDJDDOddLH+0orhHhLRJbknbihAM6pM6iih2Liwho4lDqma7GSrW3euIXVHod7deukzjL1SKxlFWH7/ywtSnBCh/S18hvxH2eLVmgAcAK7wKBNXEgO" providerName="System.Data.SqlClient" /> -->
    <add name="BmiMembershipConnection" connectionString="Data Source=192.168.53.20;Initial Catalog=BMISSO;User ID=sa;Password=sa" providerName="System.Data.SqlClient"/>
  </connectionStrings>

  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="Microsoft.Web.Services3, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <authentication mode="Windows"/>
    <customErrors mode="Off"/>
    <webServices>
      <soapExtensionImporterTypes>
        <add type="Microsoft.Web.Services3.Description.WseExtensionImporter, Microsoft.Web.Services3, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      </soapExtensionImporterTypes>
      <soapServerProtocolFactory type="Microsoft.Web.Services3.WseProtocolFactory, Microsoft.Web.Services3, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    </webServices>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <microsoft.web.services3>
    <security>
      <securityTokenManager>
        <add type="BMISSOService.AuthenticationCustomized" namespace="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd" localName="UsernameToken"/>
      </securityTokenManager>
    </security>
  </microsoft.web.services3>
  <appSettings>
    <add key="WebServiceUsers" value="morsali"/>
    <add key="WebServicePasswords" value="HyperServer"/>
  </appSettings>
</configuration>