<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="BMIKidsEntities" connectionString="xaCoZXhyO2WlPq0LsJVq4gyQUn2TLRbM0+fx5w2c1z6FyKX39vfb6q0x6JJc1HOOUx1c6q77bpbF2Ma4ECYIG+ox3G6vSCzgqFIHDrvK7ap4MbH+pge1mBUAtFJNO8uxKQPeSzg6nkc3PW/poVUrxAgBN1uPacrxYMx4cBtGPZ0="/>
    <add name="Cnn_MelliCode" connectionString="xaCoZXhyO2WlPq0LsJVq4kE863dsQA5LqLSSWFmjcs3GLdZkVg0SBTsL6p2tzTRr9aPxmNX+RKMKHyA/Bu0S0ijevkfFZbwiQ8REeEJeId0ul4evP25iWIBocmIOWv/BuHuTLLyavyAYXgm6FKc5a7uOYl4ZqbyFS9DRtVpMTk3EpWm1SyY/frboGKxq21YLlrzs7RdecSAVuDj46JLoR6v1/vv3ytGQyfC0tERZXHM="/>
    <add name="Cnn_TashilatSiba" connectionString="xaCoZXhyO2WlPq0LsJVq4kE863dsQA5LqLSSWFmjcs3GLdZkVg0SBTsL6p2tzTRr9aPxmNX+RKMKHyA/Bu0S0ijevkfFZbwiQ8REeEJeId0ul4evP25iWIBocmIOWv/BuHuTLLyavyAYXgm6FKc5a7uOYl4ZqbyFS9DRtVpMTk3EpWm1SyY/frboGKxq21YLlrzs7RdecSAVuDj46JLoR6v1/vv3ytGQyfC0tERZXHM="/>
    <add name="Cnn_Central_Current1" connectionString="xaCoZXhyO2WlPq0LsJVq4kE863dsQA5LqLSSWFmjcs3GLdZkVg0SBTsL6p2tzTRr9aPxmNX+RKMKHyA/Bu0S0ijevkfFZbwiQ8REeEJeId0ul4evP25iWIBocmIOWv/BuHuTLLyavyAYXgm6FKc5a7uOYl4ZqbyFS9DRtVpMTk3EpWm1SyY/frboGKxq21YLlrzs7RdecSAVuDj46JLoR6v1/vv3ytGQyfC0tERZXHM="/>
    <add name="Cnn_Central_Current2" connectionString="xaCoZXhyO2WlPq0LsJVq4kE863dsQA5LqLSSWFmjcs3GLdZkVg0SBTsL6p2tzTRrzWbvZjH8CoVuPi/DWaXOvf0htCHIMUytoYUf5PLDjr6tLClIQ6c59Oijb6Xy3Fn/uhQE1SNlo9Lz4uHTH6HgU7CD26ctsmml3eDIQ/VmppnADLbP/HQpO36mvSi44+ARNE7Cse0ijN5fyCBddN83xXsNh+YIw5AhYboI1oAtngs="/>
  </connectionStrings>
  <system.webServer> 
    <handlers>
      <add name="srv" verb="*" path="*.asmx" type="System.Web.Script.Services.ScriptHandlerFactory,                         System.Web.Extensions, Version=1.0.61025.0,                         Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    </handlers>
 
  </system.webServer>
  <system.web>
    <httpRuntime maxRequestLength="1000000" requestValidationMode="2.0" />
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <customErrors mode="Off">
      <error statusCode="404" redirect="~/Error/ErrorNotFound.aspx"/>
      <error statusCode="403" redirect="~/Error/NotAccess.aspx"/>
    </customErrors>
    <authentication mode="None"/>
    <authorization>
      <allow users="*"/>
    </authorization>
    <sessionState mode="StateServer" stateConnectionString="tcpip=127.0.0.1:42424" timeout="120"/>
    <httpCookies requireSSL="false" httpOnlyCookies="true"/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ScoreServiceSoap" />

        <binding name="UnitsHandlerSRVSoap">
          <security mode="Transport" />
        </binding>
        <binding name="UnitsHandlerSRVSoap1" />
      </basicHttpBinding>

    </bindings>
    <client>
      <endpoint address="https://units.bmi.ir/services/UnitsHandlerSRV.asmx"
               binding="basicHttpBinding" bindingConfiguration="UnitsHandlerSRVSoap"
               contract="BMIBranchServiceRef.UnitsHandlerSRVSoap" name="UnitsHandlerSRVSoap" />
      <endpoint address="http://localhost:7008/KidsGame/ScoreService.asmx" binding="basicHttpBinding" bindingConfiguration="ScoreServiceSoap" contract="KidsScoreServiceRef.ScoreServiceSoap" name="ScoreServiceSoap"/>
    </client>
  </system.serviceModel>
</configuration>