<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="BMIKidsEntities" connectionString="xaCoZXhyO2WlPq0LsJVq4kQn/ZfdevsbILHL8HveQY7jVAGXFIXEkFEZig70DJNcsftcU1de4pSoNsgR5T5QxqxsaJnb6bajYWGy3XENSLFWbiqnmnFpRdYX/JIkDU41rfNWzy+n+OSqfdxlJMCU4yW/S8SFpejPuuYd/bMXmIXu3MMm6W1ddMkSCS0uL9gHeN41uwdkssvPSJTBFQkLLA=="/>
   <add name="Cnn_MelliCode" connectionString="xaCoZXhyO2WlPq0LsJVq4kQn/ZfdevsbILHL8HveQY56pkuIK0Gof8VBsIfcftdyY9ooZ522FGiECSHWzr7fUBrIi+xEynMAn6qfDCEfqWy5IwUmkstCvbCCwaGEFDeMx1s0Re38Fl0N8DlZjqy73M/LN/1CB22RrTliD2A3VzJq3w0hKrCisPCAL7i6TVdsAuOTKU4Q8K0A81kjt+RiNA=="/>
    <add name="Cnn_TashilatSiba" connectionString="xaCoZXhyO2WlPq0LsJVq4kQn/ZfdevsbILHL8HveQY7mhlCqgu7gLszGOZhMOZPrWnllb0grN7EBE7yQ3STv7UfT9RIIGCIxUl+S6hrhlslS2dCrywxBv8wPv6h3YNSBvVh1KtI2Ce2zsiNqdOgqXwxmB+DvcRmYQ5WEMbUUatIosAjlHIALd2mWV3fEj+/x3Yp3XoQSlRhAsxP6RsyoYw=="/>
    <add name="Cnn_Central_Current1" connectionString="xaCoZXhyO2WlPq0LsJVq4kQn/ZfdevsbILHL8HveQY6tQEl6M1eobPuJIWAX0cf1ecz7rLL/6TXKeye6ESc0gJC6W8akhrPW8NPlD8lvPkI7O5cAJx5wmoa4LeLvvvFrLwlnMbOprETo6sGIAvF7kcP+vPJItKoa8wFDdra2S75/WSPvqwr6MfUF5wTiq8navmUIHvkjeZDylB8F4jjFqWdpXIeaZbBOPHoFKppxvKM="/>
    <add name="Cnn_Central_Current2" connectionString="xaCoZXhyO2WlPq0LsJVq4kQn/ZfdevsbILHL8HveQY56pkuIK0Gof8VBsIfcftdyV+b8w5I0eqz6yWhU+SCA615Isve6YNHb/IGbH3PSKXVooFG4OARqiD2CUezwZdurQ34sYz0cetJOZiMnb4j/LL+j0OJtyQ7QBqn99SSr01LF/Ruyxvw0HgFjkT9R29ohtCxNjuUNFHjZ7L3uuN+CRbeXHqPCUvbQt0iCJ8OOwX0="/>
  </connectionStrings>
  <system.webServer>
    
    <handlers>
     
      <add name="srv"  verb="*" path="*.asmx"  
           type="System.Web.Script.Services.ScriptHandlerFactory, 
                       System.Web.Extensions, Version=1.0.61025.0, 
                       Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    </handlers>
    <modules>
      <add name="CuteWebUI.UploadModule" type="CuteWebUI.UploadModule,CuteWebUI.AjaxUploader"/>
    </modules>

  </system.webServer>
  <system.web>


    <httpRuntime maxRequestLength="1000000" requestValidationMode="2.0" />

    <compilation debug="true" targetFramework="4.0">

    </compilation>
    <customErrors mode="Off">
      <error statusCode="404" redirect="~/Error/ErrorNotFound.aspx"/>
      <error statusCode="403" redirect="~/Error/NotAccess.aspx"/>
    </customErrors>
    <authentication mode="None">
      </authentication>
    <authorization>
      <allow users="*"/>
    </authorization>
    <sessionState mode="StateServer" stateConnectionString="tcpip=127.0.0.1:42424" timeout="120"/>
    <httpCookies requireSSL="false" httpOnlyCookies="true"/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ScoreServiceSoap" />
        <binding name="UnitsHandlerSRVSoap"/>
        
        
        <binding name="UnitsHandlerSRVSoap1" />
      </basicHttpBinding>
    </bindings>
    <client>

      <endpoint address="http://units.bmi.ir/services/UnitsHandlerSRV.asmx"
              binding="basicHttpBinding" bindingConfiguration="UnitsHandlerSRVSoap"
              contract="BMIBranchServiceRef.UnitsHandlerSRVSoap" name="UnitsHandlerSRVSoap" />
      
      <endpoint address="http://localhost:7008/KidsGame/ScoreService.asmx"
        binding="basicHttpBinding" bindingConfiguration="ScoreServiceSoap"
        contract="KidsScoreServiceRef.ScoreServiceSoap" name="ScoreServiceSoap" />
    </client>
  </system.serviceModel>
</configuration>